<!DOCTYPE html>
<html>
    <head>
        <title>Titanic survived Prediction</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;" action="/">
            <br><br>
            Name: <input type="text" name="name", placeholder="Enter the name" required/>
            <br><br>
            <label for="class">Class:</label>
            <select name="class" id="class">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <br><br>
            <label for="sex">Sex:</label>
            <select name="sex" id="sex">
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>
            <br><br>
            Age: <input type="number" name="age", placeholder="Enter Age" required/>
            <br><br>
            Sibsp: <input type="number" name="sibsp", placeholder="Enter sibsp" required/>
            <br><br>
            Parch: <input type="number" name="parch", placeholder="Enter parch" required/>
            <br><br>
            Fare: <input type="number" name="fare" step="0.01", placeholder="Enter fare" required/>
            <br><br>
            <label for="embarked">Embarked:</label>
            <select name="embarked" id="embarked">
                <option value="C">Cherbourg</option>
                <option value="Q">Queenston</option>
                <option value="S">Southapmtpon</option>
            </select>
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>